<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Ginsberg Transportation System{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  {% block htmlbody %}
    <body>
      <div id="header" class="group">
        <div id="logo">
          {% block banner %}
              <span>Ginsberg Transportation System</span>
          {% endblock %}
          <span id="logout">
            {% block greeting %}
              Hi, logged in user. <a href="{{ asset('logout') }}">Log out.</a>
            {% endblock %}
          </span>
        </div>
      </div>
      <nav>
        <ul>
          {% block nav %}
          {% endblock %}
        </ul>
      </nav>
      <main>
        {% block body %}{% endblock %}
      </main>
      <footer>
        {% block privacy %}
        {% endblock %}
      </footer>
      {% block javascripts %}{% endblock %}
    </body>
  {% endblock %}
</html>
