<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Ginsberg Transportation System{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <header class="group">
      {% block banner %}
          <h1>Ginsberg Transportation System</h1>
      {% endblock %}
      <h2 id="greeting">
        {% block greeting %}
          Hi, logged in user. <a href="https://weblogin.umich.edu/cgi-bin/logut">Log out.</a>
        {% endblock %}
      </h2>
    </header>
    <nav>
      <ul>
        {% block nav %}
        {% endblock %}
      </ul>
    </nav>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      {% block privacy %}
      {% endblock %}
    </footer>
      {% block javascripts %}
        {% javascripts 
          '@GinsbergTransportationBundle/Resources/public/js/datetimepicker/jquery.js' %}
           <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 
          '@GinsbergTransportationBundle/Resources/public/js/datetimepicker/jquery.datetimepicker.js' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
      {% endblock %}
  </body>
</html>
