{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
    <div class="record_actions">
      <span class='back button'>
          <a href="{{ path('ticket') }}">
              Tickets
          </a>
      </span>
    </div>

    <h1>Add a Ticket</h1>

    {{ form(form) }}

{% endblock %}
