{% extends '::base.html.twig' %}
{% block stylesheets %}
  {% stylesheets 'bundles/ginsbergtransportation/css/user/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% stylesheets 'bundles/ginsbergtransportation/css/user/smoothness/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}
{% block nav %}
  <li>Nav 1</li>
  <li>Nav 2</li>
{% endblock %}
