{% extends 'GinsbergTransportationBundle::admin_layout.html.twig' %}

{% block body -%}
  <div class="record_actions">
    <span class='back button'>
        <a href="{{ path('program') }}">
            Programs
        </a>
    </span>
  </div>
  
    <h1>Add a Program</h1>

    {{ form(form) }}

{% endblock %}
