body {
	margin: 0;
	padding: 0;
	font-family: Myriad Pro, Arial,Helvetica,sans-serif!important;
	background:#ffffff;
}

body * {
  font-family: Myriad Pro, Helvetica, Arial, sans-serif!important;

}

/* Basic Page Formatting ================================================== */
.ui-controlgroup-horizontal {
    padding-left: 18px;
    padding-bottom: 0;
}
a { color:#67a0b8;}

h2, h3 { font-weight:normal; }

h1 { margin-bottom:0;}

dl {
  width:30em;
}

dl dt {
	position: relative;
	width: 10em;
	display:inline-block;
	margin:0 0 .5em 0;

}

dl dd {
  width:18em;
  display:inline-block;
  margin:0 0 .5em 0;
}

legend {
  font-weight:bold;
  border: 1px solid #000;
  border-radius: .3125em;
  background-color: #fff;
  padding: 6px;
}

.row {
  margin-bottom:.5em;
}


#my-reservations a {
  margin-left:20px;
}

table {
  padding:20px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:6px;
  -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 0 20px rgba(0, 0, 0, 0.1) inset;

}

.explainer span {
  border-radius:6px;
  padding:3px 4px;
  background:#eee;
}

table {
  width:100%;
}

table td {
  border-bottom:1px solid #ddd;
  padding:10px 0px 10px;
}

th {
  font-weight:normal;
  text-align:left;
  font-style:italic;
  border-bottom:4px solid #eee;
}

.ui-mobile fieldset {
  border-radius:15px;
  background:#eee;
  padding:0px 20px 20px 20px;
  margin-top: 5px;
}

.error,
.errorMessage {
  color:#ac1f11;
}

.errorSummary {
  border-radius:15px;
  border:1px solid #ac1f11;
  background:#eee;
  padding:10px 20px 10px 20px;
  margin-bottom:1em;
  -webkit-box-shadow:0 0 20px rgba(97, 12, 13, 0.1) inset;
     -moz-box-shadow:0 0 20px rgba(97, 12, 13, 0.1) inset;
          box-shadow:0 0 20px rgba(97, 12, 13, 0.1) inset;

}
.errorMessage ul {
    list-style: none;
}

.hasDatepicker {
	z-index: 100;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Added for Symfony */
input.datetime {
    width: 12em;
}

.ui-input-text {
    width: 12em;
}
.ui-btn {
    width: 12em;
}
button.ui-btn {
    width: 15em;
}
