{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}
<h1>Hello, {{ name }}</h1>

<h2>Your registration with Parking and Transportation Services has expired.</h2>
<p>Our records indicate that you were once registered with PTS, but that your registration has expired. 
You should have received instructions from the Ginsberg Center telling you how to register to drive with 
your program. If you have not received those instructions, please contact your program lead. If they 
are not able to resolve the issue, please contact the Ginsberg Center at:<br/><br/>
<a href="mailto:transpoinfo@umich.edu">transpoinfo@umich.edu</a><br/>
or call (734) 763-3548. 
</p>
{% endblock %}