{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}
<h1>Hello, {{ name }}</h1>

<h2>Our records do not indicate that you are eligible to use Ginsberg vehicles.</h2>
<p>If you believe this is an error, please contact the Ginsberg Center at:<br/><br/>
<a href="mailto:transpoinfo@umich.edu">transpoinfo@umich.edu</a><br/>
or call (734) 763-3548.
</p>
<h3>Who is eligible to reserve Ginsberg vehicles?</h3>
<p>Students associated with the following programs are automatically eligible to reserve vehicles:</p>
<ul>
  <li>Alternative Spring Break (Ginsberg Center/SERVE sponsored)</li>
  <li>America Reads</li>
  <li>Alternative Summer Break</li>
  <li>Project Community</li>
  <li>Members of service-oriented student organizations <strong>that have a transportation contract</strong> with the Ginsberg Center</li>
</ul>
<p>If you are a member of a community service organization and would like to arrange a contract, contact Debra Paris at <a href="mailto:deblh@umich.edu">deblh@umich.edu</a>
or call 734-615-4075.</p>
{% endblock %}