{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}
<h1>Hello, {{ name }}</h1>

<h2>Our records indicate that you are eligible to drive a Ginsberg vehicle, but have not yet
registered with Parking and Transportation.</h2>
<p>You should have received an email with the subject
"Procedure for Registering to Drive a Ginsberg Vehicle". This email contains detailed instructions
for registering with Parking and Transportation Services as a Ginsberg driver.
Please locate that email and follow the directions carefully.</p>
<p>If you have not received the email, please contact the Ginsberg Center at:<br/><br/>
<a href="mailto:transpoinfo@umich.edu">transpoinfo@umich.edu</a><br/>
or call (734) 763-3548. 
</p>
{% endblock %}