{% extends 'GinsbergTransportationBundle::public_layout.html.twig' %}

{% block body -%}
<h1>Hello, {{ name }}</h1>

<h2>Unfortunately, we ran into a problem while processing this page.</h2>

<p>Please note the time of day that you received this message and contact the Ginsberg Center 
    with the information at the phone number below. Please have any correspondence you have 
    had with Parking and Transportation Services handy when contact us.
To locate the Parking and Transportation Services email, search for mail from 
mvr-check@umich.edu (in the GMail search bar, enter</p>
<p><em>from:mvr-check@umich.edu</em></p>

<p>If you have any further questions, please contact the Ginsberg Center:<br><br>
  <a href="mailto:transpoinfo@umich.edu">transpoinfo@umich.edu</a><br>
  (734) 763-3548 <br>
  1024 Hill Street<br>
  Ann Arbor, MI 48104
</p>
{% endblock %}